/* body {
    padding: 5px;
} */



/* span, label {
  padding-right: 2%;
  padding-left: 1%;
} */

.plotarea {
  background-color:lavendar;
}

.header {
    background-color:lightskyblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    margin-left: 50px;
    color: white;
}

.vertical-line {
    border-right: solid gray;
}

ul.nav {
    padding: 5px;
}

a.nav-link {
    color: grey;
}

a.nav-link:hover {
    color: blue;
}

a.active {
    color: royalblue;
}

section {
    margin: 20px;
}

footer {
    background-color: lightgrey;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    color: white
}
