<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Market Insights</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

    </script>
</head>
<body>
    <div class="container-fluid" style="background-color: lightgray;">
        <!-- This is the header section -->
        <div class="row header">
            <div class="col-8">
                <h1>Stock Market Analysis Dashboard</h1>
            </div>
            <div class="col-4">
                <ul class="nav justtify-content-end">
                    <li class="nav-item vertical-line">
                        <a class="nav-link active" href="{{ url_for('index') }}">Market Insights</a>
                    </li>
                    <li class="nav-item vertical-line">
                        <a class="nav-link" href="{{ url_for('aboutus') }}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('api') }}">API Doc</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- This the Plotley graph and Economic Calendar -->
        <section>
            <!-- Select the stock here -->
            <div class="row ">
                <div class="col-4 well">
                    <label for="selDataset">SELECT Stock: </label>
                    <select id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>
            </div>
            <div class="row">
                <!-- Plotley graph -->
                <div class="col graph">
                    <div id="plot"></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <label for="yearList">Select years of history: </label>
                <select name="optionYears" id="yearList" onchange="changedYears(this.value)">                   

                    <option value="3">3 years</option>
                    <option value="5">5 Years</option>
                    <option value="10">10 Years</option>
                </select>
            </div>
            <div class="row">
                <div class="col">
                        <div id="historyPlot"></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <!-- This is the News calendar -->
                <div id="table-area" class="col-6">
                    <!-- <table id="news-table" class="table table-hover">
                <div id="table-area" class=""> -->
                    <table id="news-table" class="table table-hover">
                        <thead>
                            <h3>News Calendar</h3>
                            <!-- <tr>
                                <td>Date</td>
                                <td>News Title</td>
                                <td>Detail</td>
                            </tr> -->
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <!-- This is economic calendar -->
              <div class="col-6 page">
                <!-- <div class="row" style="justify-content:space-evenly;"> -->
                <div class="row" style="">
                  <h3>Market Action & Events |</h3>
                  <br>
                  <p> Date Search: Select Economic Calendar,input date, click on page outside of input field to update calendar. If no date is selected, Calendar date is the current date</p>
                  <label for="datepicker">Date: </label>
                  <br>
                  <input type="text" id="datepicker" placeholder="Ex: Oct15.2019">
                </div>
                <span style="display:flex;justify-content: space-around;">
                  <input type="radio" name="marketwatch" value="mostactivebyvol" checked><label for="mostactivebysharevol">Most Active by Share Vol.</label>
                  <br>
                  <input type="radio" name="marketwatch" value="mostdeclined"><label for="mostdeclined">Most Declined</label>
                  <br>
                  <input type="radio" name="marketwatch" value="mostactivebydollarvol"><label for="mostactivebydollarvol"> Most Active by Dollar Vol.</label>
                  <br>
                  <input type="radio" name="marketwatch" value="econcal"><label for="econcal">Economic Calendar</label>
                </span>
                <hr>
                <table id="market-tables"></table>
              </div>
            </div>
        </section>
        <!-- This is the foorter section -->
        <footer>
            <p>By: Omari Blockton, Stevie Griggs, Nicholas McCarty, and Pam Zhao</p>
        </footer>
    </div>

    <!-- javascript files -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stocknews_scrape.js') }}"></script>
</body>
</html>
